.chocolate-blog-listing .chocolate-container { padding-top: 64px; }
.chocolate-blog-listing article h1 { font-size: 40px; margin-top: 0px; }
.chocolate-blog-listing article div:nth-child(2) { padding-left: 25px; }
.chocolate-blog-listing .fa-circle { font-size: 6px; vertical-align: middle; margin: 0 5px; }



