<footer class="mdl-mini-footer chocolate-footer">
    <div class="mdl-mini-footer__left-section">
        &copy 2020 Blue Squad Development | All Rights Reserved
    </div>
    <div class="mdl-mini-footer__right-section">
        <a href="/careers/" style="color: #ffffff; font-size: 14px; font-weight: 400;">Careers</a>
    </div>
    <script src="/js/material.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/tabbed.js"></script>
    <script src="/js/skip-to-content.js"></script>
</footer>
